html {
	background: #ccc;
}

.gallery {
	list-style: none;
	display: flex;
	gap: 0.5rem;
}

.gallery li {
	border: solid 2px transparent;
}

.gallery li[aria-current] {
	border-color: red;
}

button {
	appearance: none;
	display: block;
	border: 0;
	padding: 0;
	font-size: 150%;
}

button img {
	display: block;
	width: 150px;
	height: 150px;
}

div[popover] {
	background-color: transparent;
	border: 0;
	padding: 0;
	margin-block: max(auto, 20px);
	width: min(500px, calc(100% - 40px));
}

div[popover]::backdrop {
	background-color: #000;
	opacity: 0.4;
}

div[popover] img {
	display: block;
	width: 100%;
	height: auto;
	transition: all 0.2s ease;
}

div[popover] button {
	background: red;
	color: #fff;
	padding: 0.4em 0.6em;
	cursor: pointer;
	margin-left: auto; /* align button right  */
}

div[popover] button:is(:hover, :focus) {
	background-color: color-mix(in srgb, red, pink);
}

div[popover] .pagination {
	display: flex;
}

div[popover] .pagination button {
	flex: 1;
}
